@import '../../index';

.ticket {
  display: flex;
  justify-content: space-between;
}

.ticket-title {
  color: #A0B0B9;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.ticket-info {
  color: #4A4A4A;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 150% */
}
