$body-color: #F1FCFF;
$base-color: #2196F3;
$background-color: #FFF;
$shadow: 0px 2px 8px rgba(0, 0, 0, 0.10);

body {
  margin: 0;
  background-color: $body-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


